/* =Menu right
-------------------------------------------------------------- */

.navigation {
    display: block;
    position: absolute;
    top: 30px;
    width: 100%;
    padding-right: 30px;
    padding-left: 30px;
}
.close-menu {
    color: #fff;
    font-size: 60px;
    cursor: pointer;
    line-height: 49px;
}
.search-icon {
    color: #fff;
    font-size: 24px;
    cursor: pointer;
    float: right;
    line-height: 54px;
}
.close-menu:hover,
.search-icon:hover {
    color: #7beec7;
}
/* search */
.js-ui-search input[type="text"] {
    -webkit-appearance: none;
    outline: none;
    border: none;
    height: 20px;
    line-height: 20px;
}
.js-ui-search input[type="text"]:focus {
    -webkit-appearance: none;
    outline: none;
    border: none;
}
.search-wrap {
    position: absolute;
    right: 25px;
    top: 11px;
    display: block;
    z-index: 1;
    width: 25px;
    height: 25px;
    margin-left: 0;
    padding: 0;
    border: 2px solid #f7f7f7;
    border-radius: 20px;
    -moz-transition: all 0.25s ease 0.3s;
    -o-transition: all 0.25s ease 0.3s;
    -webkit-transition: all 0.25s ease;
    -webkit-transition-delay: 0.3s;
    transition: all 0.25s ease 0.3s;
}
.search-wrap:before {
    top: 90%;
    left: 90%;
    width: 14px;
    height: 2px;
    background-color: #f7f7f7;
    border-radius: 1px;
    -moz-transition: width 0.15s ease 0.55s;
    -o-transition: width 0.15s ease 0.55s;
    -webkit-transition: width 0.15s ease;
    -webkit-transition-delay: 0.55s;
    transition: width 0.15s ease 0.55s;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-transform-origin: top left;
    transform-origin: top left;
}
.search-wrap input {
    width: 100%;
    color: #fff;
    opacity: 0;
    background-color: transparent;
    transition: opacity 0.15s ease;
}
.eks {
    display: block;
    position: absolute;
    top: 50%;
    right: 0;
    z-index: 20;
    width: 30px;
    height: 30px;
    cursor: pointer;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}
.eks:before,
.eks:after {
    right: 5px;
    height: 2px;
    width: 2px;
    border-radius: 1px;
    transition: all 0.25s ease;
}
.eks:before {
    top: 3.3px;
    background-color: white;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-transform-origin: top right;
    transform-origin: top right;
    transition-delay: 0.1s;
}
.eks:after {
    bottom: 3.3px;
    background-color: white;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-transform-origin: bottom right;
    transform-origin: bottom right;
    transition-delay: 0s;
}
.search-wrap.open {
    width: 230px;
    transition-delay: 0.1s;
}
.search-wrap.open:before {
    width: 0px;
    transition-delay: 0s;
}
.search-wrap.open input {
    opacity: 1;
    transition-delay: 0.15s;
}
.search-wrap.open input:focus {
    border:0; 
}
.search-wrap.open ::-webkit-input-placeholder {
    font-size: 12px;
    text-transform: uppercase;
    padding-left: 15px;
}
.search-wrap.open .eks:before,
.search-wrap.open .eks:after {
    width: 15px;
    right: 12px;
}
.search-wrap.open .eks:before {
    top: 9px;
    transition-delay: 0.25s;
}
.search-wrap.open .eks:after {
    bottom: 9px;
    transition-delay: 0.3s;
}
.search-wrap:before,
.eks:before,
.eks:after {
    content: "";
    position: absolute;
    display: block;
}
.menu-wrap a {
    color: #fff;
}
.menu-wrap a:hover,
.menu-wrap a:focus {
    color: #000;
	cursor: pointer;
}
.content-wrap {
    -webkit-overflow-scrolling: touch;
}
.content {
    position: relative;
    background: #b4bad2;
}
.content::before {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
    content: '';
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
    transition: opacity 0.4s, -webkit-transform 0s 0.4s;
    transition: opacity 0.4s, transform 0s 0.4s;
    transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
}
/* Menu Button */
.menu-button {
    position: fixed;
    right: 15px;
    z-index: 1000;
    margin: 1em;
    padding: 0;
    width: 2.5em;
    height: 2.25em;
    border: none;
    text-indent: 2.5em;
    font-size: 1.5em;
    color: transparent;
    background: transparent;
    outline: 0;
}
.menu-button::before {
    position: absolute;
    top: 0.5em;
    right: 0.5em;
    bottom: 0.5em;
    left: 0.5em;
    background: linear-gradient(#373a47 20%, transparent 20%, transparent 40%, #373a47 40%, #373a47 60%, transparent 60%, transparent 80%, #373a47 80%);
    content: '';
}
.menu-button:hover {
    opacity: 0.6;
}
/* Close Button */
.close-button {
    width: 1em;
    height: 1em;
    position: absolute;
    right: 0.5em;
    top: 0.5em;
    overflow: hidden;
    text-indent: 1em;
    font-size: 34px;
    border: none;
    background: transparent;
    color: transparent;
    outline: 0;
}
.close-button::before,
.close-button::after {
    content: '';
    position: absolute;
    width: 3px;
    height: 100%;
    top: 0;
    left: 50%;
    background: #bdc3c7;
}
.close-button::before {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}
.close-button::after {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}
.indicator-name {
    position: absolute;
    right: 30px;
    top: 0;
    line-height: 50px;
    color: #111111;
}
.content-menu {
    position: relative;
}
.menu-wrap {
    position: fixed;
    z-index: 9999;
	/*opacity: .9;*/
    width: 20%;
    height: 100%;
    right: 0;
    top: 0;
    background:#49ac28; 
    background-position: center center;
    background-size: cover;
    font-size: 1.15em;
    display: table;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
    transition: -webkit-transform 0.4s;
    transition: transform 0.4s;
    transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
}
.menu,
.menu-list {
    height: 100%;
    display: table-cell;
    vertical-align: middle;
    padding-left: 35px
}
.menu-contact-information {
    clear: both;
}
.menu-contact-information span {
    padding-top: 10px;
    padding-bottom: 50px;
    display: block;
    color: #fff;
    font-size: 16px;
    font-weight: 100;
    letter-spacing: 2.5px;
    text-align: right;
}
.menu-content {
    padding-top: 20%;
}
.menu-list ul {
    padding: 0;
}
.menu-list ul li {
    display: block;
    -webkit-transform: translate3d(0, 500px, 0);
    transform: translate3d(0, 500px, 0);
}
.menu-list,
.menu-list ul li {
    transition: -webkit-transform 0s 0.4s;
    transition: transform 0s 0.4s;
    transition-timing-function: cubic-bezier(0.8, 0, 0.3, 1);
}
.menu-list ul li:nth-child(1) {
    -webkit-transform: translate3d(250px, 0, 0);
    transform: translate3d(250px, 0, 0);
}
.menu-list ul li:nth-child(2) {
    -webkit-transform: translate3d(500px, 0, 0);
    transform: translate3d(500px, 0, 0);
}
.menu-list ul li:nth-child(3) {
    -webkit-transform: translate3d(1000px, 0, 0);
    transform: translate3d(1000px, 0, 0);
}
.menu-list ul li:nth-child(4) {
    -webkit-transform: translate3d(1500px, 0, 0);
    transform: translate3d(1500px, 0, 0);
}
.menu-list ul li:nth-child(5) {
    -webkit-transform: translate3d(2000px, 0, 0);
    transform: translate3d(2000px, 0, 0);
}
.menu-list ul li:nth-child(6) {
    -webkit-transform: translate3d(2500px, 0, 0);
    transform: translate3d(2500px, 0, 0);
}
.menu-list ul li:nth-child(7) {
    -webkit-transform: translate3d(3000px, 0, 0);
    transform: translate3d(3000px, 0, 0);
}
.menu-list ul li a {
    font-weight:600;
    font-size: 22px;
     font-family: 'Assistant', sans-serif; 
    text-transform: uppercase;
    letter-spacing: 2.5pt;
    transition: all 350ms cubic-bezier(0.215, .61, .215, 1);
    -webkit-transition: all 350ms cubic-bezier(0.215, .61, .215, 1);
    -moz-transition: all 350ms cubic-bezier(0.215, .61, .215, 1);
    -o-transition: all 350ms cubic-bezier(0.215, .61, .215, 1);
}
ul.sub-menu {
    position: relative;
    display: none;

}
ul.sub-menu li {
    padding: 0;
    padding-bottom: 8px;
    padding-top: 8px;
    line-height: 10px !important;
}
ul.sub-menu li a {
    font-size: 14px;
    text-transform: none;
}
/* Shown menu */
.show-menu .menu-wrap {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    transition: -webkit-transform 0.8s;
    transition: transform 0.8s;
    transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
	background: linear-gradient(to right, rgba(13,158,234,0.8) 0%,rgba(13,158,234,0.8) 32%,rgba(13,158,234,0.8) 32%,rgba(73,172,40,0.8) 100%);
}
.show-menu .menu-list,
.show-menu .menu-list ul li {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    transition: -webkit-transform 0.8s;
    transition: transform 0.8s;
    transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
}
.show-menu .menu-list ul li {
    transition-duration: 0.9s;
    text-decoration: none;
    line-height:40px;
}
.show-menu .content::before {
    opacity: 1;
    transition: opacity 0.8s;
    transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}
.main-menu-indicator {
    display: block;
    padding: 0;
    cursor: pointer;
    z-index: 1000;
	border:none;
	margin-top:2rem;
}
.main-menu-indicator img{
	border:1px solid #fff;
	box-shadow: 0px 2px 16px 0px rgba(69, 69, 70, 0.32);
}
.main-menu-indicator:hover {
    border: 0;
    box-shadow: none;
}
.main-menu-indicator>span {
    transition: all 0.1s ease 0s;
    display: block;
    position: absolute;
    width: 28px;
    height: 2px;
    top: 44px;
    left: 0;
    right: 0;
    margin: auto;
    background: #fff;
}
.main-menu-indicator>span:before,
.main-menu-indicator>span:after {
    transition: all 0.2s ease 0s;
    position: absolute;
    content: '';
    width: 28px;
    height: 2px;
    background: #fff;
    left: 0;
}
.main-menu-indicator>span:after {
    top: -8px;
}
.main-menu-indicator>span:before {
    bottom: -8px;
}

.main-menu-indicator.active>span {
    background: transparent;
}

.main-menu-indicator.active>span:after {
    top: 0;
    transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -webkit-transform-origin: center center;
    -ms-transform-origin: center center;
    transform-origin: center center;
}

.main-menu-indicator.active>span:before {
    bottom: 0;
    transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -webkit-transform-origin: center center;
    -ms-transform-origin: center center;
    transform-origin: center center;
}

/* Menu Information */
.menu-information {
    position: absolute;
    bottom: 52px;
}
.menu-information p {
   font-family: 'Assistant', sans-serif; 
    color: #fff;
    padding-left: 71px;
    line-height: 18px;
    font-weight: 600;
    letter-spacing: 1px;
}

.menu-information ul {
    padding: 0;
    padding-left: 50px;
	margin-top: -1rem;
}
.menu-information ul li {
    
    padding-right: 15px;
    display: block;
    list-style: none;
    color: #fff;
	font-weight: 600;
    letter-spacing: 2.5pt;
    font-family: 'Assistant', sans-serif;
	font-size: 17px;
	margin-top: 0.6rem;
}


.menu-information ul li span {
    padding-right:4px;
	font-weight: bold;
}


/* =Menu right
-------------------------------------------------------------- */



/******** STICK MENU ********/

/* Style the navbar */


/* Navbar links */
.navbar-area a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px;
  text-decoration: none;
}

.fixedmenu{

}

.navbar-fixed {
  top: 158px;
  z-index: 99;
  position: fixed;
  width: 100%;
	-webkit-transition: all 0.4s ease-in; transition: all 0.4s ease-in; outline: none;
	background:#1c1c1c;
}
.navbar-fixed2 {
  top: 0px;
  z-index: 999;
  position: fixed;
  width: 100%;
	-webkit-transition: all 0.4s ease-in; transition: all 0.4s ease-in; outline: none;
	background:rgba(255,255,255,1);
	padding-bottom: 14px;
	padding-left:20px; 
	padding-right: 20px;
	opacity: .9;
}
.navbar-fixed2 .logo{ margin-top:0.5rem;}
.navbar-fixed2 .logo img{ width:65%; transition: all 0.7s ease; transform-origin: left center;}
.navbar-fixed2 .main-menu-indicator{ margin-top:1.4rem;}
.watsapp-number .navbar-fixed2{ margin-top:2rem;}
.navbar-fixed .navbar-nav .nav-link{ color:#ededed;}
.navbar-fixed .navbar-light .navbar-nav .nav-link:focus, .navbar-fixed .navbar-light .navbar-nav .nav-link:hover{ color:#4fac11;}
.navbar-fixed .navbar-light .navbar-nav .active>.nav-link, .navbar-fixed .navbar-light .navbar-nav .nav-link.active, .navbar-fixed .navbar-light .navbar-nav .nav-link.show, .navbar-fixed .navbar-light .navbar-nav .show>.nav-link{ color:#ededed !important;}

/******** STICK MENU ********/



/* -------------------------------- 

ONE PAGE SCROLL

-------------------------------- */


/* -------------------------------- 

Modules - reusable parts of our design

-------------------------------- */
.cd-img-replace {
  /* replace text with a background-image */
  display: inline-block;
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
}

/* -------------------------------- 

Main components 

-------------------------------- */

.footer-area{
	min-height:72rem;
}

.cd-scroll-down {
  position: absolute;
  left: 50%;
  right: auto;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
  bottom: 20px;
  width: 38px;
  height: 44px;
}

/* No Touch devices */
.cd-nav-trigger {
  display: none;
}

/*.no-touch #cd-vertical-nav {
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  z-index: 1;
}*/
.no-touch #cd-vertical-nav li {
  text-align: right;
}
.no-touch #cd-vertical-nav a {
  display: inline-block;
  /* prevent weird movements on hover when you use a CSS3 transformation - webkit browsers */
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
.no-touch #cd-vertical-nav a:after {
  content: "";
  display: table;
  clear: both;
}
.no-touch #cd-vertical-nav a span {
  float: right;
  display: inline-block;
  -webkit-transform: scale(0.6);
  -moz-transform: scale(0.6);
  -ms-transform: scale(0.6);
  -o-transform: scale(0.6);
  transform: scale(0.6);
}
.no-touch #cd-vertical-nav a:hover span {
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
}


/* Touch devices */
.touch .cd-nav-trigger {
  display: block;
  z-index: 2;
  position: fixed;
  bottom: 30px;
  right: 5%;
  height: 44px;
  width: 44px;
  border-radius: 0.25em;
  background: rgba(255, 255, 255, 0.9);
}
.touch .cd-nav-trigger span {
  position: absolute;
  height: 4px;
  width: 4px;
  background-color: #3e3947;
  border-radius: 50%;
  left: 50%;
  top: 50%;
  bottom: auto;
  right: auto;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  -o-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}
.touch .cd-nav-trigger span::before, .touch .cd-nav-trigger span::after {
  content: '';
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  background-color: inherit;
  border-radius: inherit;
}
.touch .cd-nav-trigger span::before {
  top: -9px;
}
.touch .cd-nav-trigger span::after {
  bottom: -9px;
}

.touch #cd-vertical-nav {
  position: fixed;
  z-index: 1;
  right: 5%;
  bottom: 30px;
  width: 90%;
  max-width: 400px;
  max-height: 90%;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  -webkit-transform-origin: right bottom;
  -moz-transform-origin: right bottom;
  -ms-transform-origin: right bottom;
  -o-transform-origin: right bottom;
  transform-origin: right bottom;
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  -o-transform: scale(0);
  transform: scale(0);
  -webkit-transition-property: -webkit-transform;
  -moz-transition-property: -moz-transform;
  transition-property: transform;
  -webkit-transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  transition-duration: 0.2s;
  border-radius: 0.25em;
  background-color: rgba(255, 255, 255, 0.9);
}
.touch #cd-vertical-nav a {
  display: block;
  padding: 1em;
  border-bottom: 1px solid rgba(62, 57, 71, 0.1);
}
.touch #cd-vertical-nav a span:first-child {
  display: none;
}
.touch #cd-vertical-nav a.is-selected span:last-child {
  color: #d88683;
}
.touch #cd-vertical-nav.open {
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
}
.touch #cd-vertical-nav.open + .cd-nav-trigger {
  background-color: transparent;
}
.touch #cd-vertical-nav.open + .cd-nav-trigger span {
  background-color: rgba(62, 57, 71, 0);
}
.touch #cd-vertical-nav.open + .cd-nav-trigger span::before, .touch #cd-vertical-nav.open + .cd-nav-trigger span::after {
  background-color: #3e3947;
  height: 3px;
  width: 20px;
  border-radius: 0;
  left: -8px;
}
.touch #cd-vertical-nav.open + .cd-nav-trigger span::before {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  top: 1px;
}
.touch #cd-vertical-nav.open + .cd-nav-trigger span::after {
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -ms-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg);
  bottom: 0;
}
.touch #cd-vertical-nav li:last-child a {
  border-bottom: none;
}

@media only screen and (min-width: 768px) {
  .touch .cd-nav-trigger, .touch #cd-vertical-nav {
    bottom: 40px;
  }
}

/******************** Hover Css *********************/

/* Push */
@-webkit-keyframes hvr-push {
  50% {
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes hvr-push {
  50% {
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
.hvr-push {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
.hvr-push:hover, .hvr-push:focus, .hvr-push:active {
  -webkit-animation-name: hvr-push;
  animation-name: hvr-push;
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}

/* Float */
.hvr-float {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-float:hover, .hvr-float:focus, .hvr-float:active {
  -webkit-transform: translateY(-8px);
  transform: translateY(-8px);
}


/******************** Hover Css *********************/


/****************** Image Hover ********************/
.hovereffect {
  width: 100%;
  height: 100%;
  float: left;
  overflow: hidden;
  position: relative;
  text-align: center;
  cursor: default;
}

.hovereffect:hover{ cursor:pointer;}

.hovereffect .overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
}

.hovereffect img {
  display: block;
  position: relative;
  -webkit-transition: all 0.4s ease-in;
  transition: all 0.4s ease-in;
}

.hovereffect:hover img {
  filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feColorMatrix type="matrix" color-interpolation-filters="sRGB" values="0.2126 0.7152 0.0722 0 0 0.2126 0.7152 0.0722 0 0 0.2126 0.7152 0.0722 0 0 0 0 0 1 0" /><feGaussianBlur stdDeviation="3" /></filter></svg>#filter');
  filter: grayscale(1) blur(3px);
  -webkit-filter: grayscale(1) blur(3px);
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
}

.hovereffect h2 {
  text-transform: uppercase;
  text-align: center;
  position: relative;
  font-size: 17px;
  padding: 15px;
 background: rgba(13,157,234,1);
background: -moz-linear-gradient(45deg, rgba(13,157,234,1) 0%, rgba(73,172,40,1) 100%);
background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(13,157,234,1)), color-stop(100%, rgba(73,172,40,1)));
background: -webkit-linear-gradient(45deg, rgba(13,157,234,1) 0%, rgba(73,172,40,1) 100%);
background: -o-linear-gradient(45deg, rgba(13,157,234,1) 0%, rgba(73,172,40,1) 100%);
background: -ms-linear-gradient(45deg, rgba(13,157,234,1) 0%, rgba(73,172,40,1) 100%);
background: linear-gradient(45deg, rgba(13,157,234,1) 0%, rgba(73,172,40,1) 100%);
}

.hovereffect a.info {
  display: inline-block;
  text-decoration: none;
  padding: 11px 24px;
  border: 2px solid #4dcf22;
  margin: 9rem 0 0 0;
  background-color:rgba(208,250,194,0.2);
  font-family: 'Assistant', sans-serif; 
  font-weight:700;
  border-radius: 3px;
}

.hovereffect a.info:hover {
  box-shadow: 0 0 5px #4dcf22;
}

.hovereffect a.info, .hovereffect h2 {
  -webkit-transform: scale(0.7);
  -ms-transform: scale(0.7);
  transform: scale(0.7);
  -webkit-transition: all 0.4s ease-in;
  transition: all 0.4s ease-in;
  opacity: 0;
  filter: alpha(opacity=0);
  color: #fff;
  text-transform: uppercase;
}

.hovereffect:hover a.info, .hovereffect:hover h2 {
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}

/****************** Image Hover ********************/

/***************** Select box**********************/

/***************** Select box**********************/