/*Mobile*/
@media screen and (max-width: 480px){
	.controller{ display:none}
	.menu-wrap{ width:100% !important; }
	#fixedmenu{ display:none !important;}
	.navbar-area{ margin-top: 0 !important}
	.header-bg{ background:none; position: relative; padding-bottom: 2rem;}
	.logo{ text-align:center;}
	.list-watsap{ float:left; padding-left:15px; margin-top: 10px; color:#fff; font-weight:700; font-size: 20px; display:inherit;}
	.footer-bg{ text-align:center;}
	.footer-bg{ text-align:center;}
	.copyright-area{ text-align:center;}
	.footer-logo{ margin-bottom:2rem;}
	.clients-area.left-head{ padding:15px !important;}
	
	.custome-fluid{ padding:0 20px;}
	.spec-image{ text-align:center;}
	.solution-area{ padding-bottom:0px;}
	.why-us-area, .solution-area, .client-testimonial-area{ margin-top:0rem;}
	.profile-name{ text-align:center;}
	.profile-pic{ margin-left:0px;}
	.spec-image{ text-align:center;}
	.inner-bg1 .carousel-caption{ bottom:0px;}
	.menu-area{ text-align:right; background: rgba(13,157,234,1);
background: -moz-linear-gradient(45deg, rgba(13,157,234,1) 0%, rgba(73,172,40,1) 100%);
background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(13,157,234,1)), color-stop(100%, rgba(73,172,40,1)));
background: -webkit-linear-gradient(45deg, rgba(13,157,234,1) 0%, rgba(73,172,40,1) 100%);
background: -o-linear-gradient(45deg, rgba(13,157,234,1) 0%, rgba(73,172,40,1) 100%);
background: -ms-linear-gradient(45deg, rgba(13,157,234,1) 0%, rgba(73,172,40,1) 100%);
background: linear-gradient(45deg, rgba(13,157,234,1) 0%, rgba(73,172,40,1) 100%); margin-top:1rem; border:2px solid #fff; border-radius: 5px;}
	.inner-bg1 .carousel-caption{ bottom:0px;}
	.contact-form-area{ padding:30px;}
	.address-2{ margin-top:1rem;}
	.address-1{ margin-top: 1rem;} 
	.link-solutions .residential, .link-solutions .commercial{ margin-top:0rem; margin-bottom:2rem;}
	.solution-section .services, .solution-section .list-setails h5{ text-align:center;}
	.solution-section .carousel-item, .agriculture-section .carousel-item{ text-align:center;}
	.left-head, .right-area{ text-align:center; padding-bottom:2rem;}
	.solution-inner-text2 p{ text-align:center;}
	.list-styled li{ list-style-position:inside;}
	.operation-text p{ text-align:center;}
	.operation-area .operation-bg{ text-align:center;}
	.career-listing .services{ padding:20px 30px;}
	.watsapp-number{ display:none !important;}
	.about-image{ text-align:center;}
	.inner-text{ padding:0px; bottom:-20px;}
	.watsapp-number a{ font-size:17px;}
	.footer-comp-details{ padding-top:40px; padding-bottom: 40px;}
	.center-head h2{ font-size:43px;}
	.services-area{ padding-top:1rem;}
	.left-head h2{ font-size:45px;}
	.center-head{ margin-bottom: 0;}
	.welcome-text h2{ margin-top: 10px;}
	.solution-area{ margin-top: 30px;}
	.welcome-area{ margin-top: 30px;}
	.solution-landing{ margin-top: 0;}
	.why-us-area{ margin-top: 30px;}
	.solution-area{ padding-bottom: 0;}
	.clients-area{ margin-top:3rem;}
	.client-testimonial-area{ margin-top:3rem;}
	.about-section{ margin-top:3rem;}
	.vision-area{ margin-top:3rem;}
	.mission-area{ margin-top:3rem;}
	.center-head p{ padding-bottom: 0;}
	.solution-section{ margin-top:3rem;}
	.project-section{ margin-top:3rem;}
	.service-level-area{ margin-top:3rem;}
	.operation-area{ margin-top:3rem;}
	.career-number h3{ text-align: left}
	.agriculture-section{ margin-top:3rem;}
	.tooltip-inner{ width: 90%; margin: 0 auto;}
	.welcome-bg{ text-align: center;}
	.solution-area{ padding-bottom: 3rem;}
	.solution-details{ min-height: 350px;}
	
}


/*Tablet*/
@media screen and (max-width: 768px){

	.controller{ display:none}
	.menu-wrap{ width:100% !important;}
	#fixedmenu{ display:none!important;}
	.navbar-area{ margin-top: 0 !important}
	.header-bg{ background:none; position: relative; padding-bottom: 2rem;}
	.logo{ text-align:center;}
	.menu-area{ text-align:right; background: rgba(13,157,234,1);
background: -moz-linear-gradient(45deg, rgba(13,157,234,1) 0%, rgba(73,172,40,1) 100%);
background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(13,157,234,1)), color-stop(100%, rgba(73,172,40,1)));
background: -webkit-linear-gradient(45deg, rgba(13,157,234,1) 0%, rgba(73,172,40,1) 100%);
background: -o-linear-gradient(45deg, rgba(13,157,234,1) 0%, rgba(73,172,40,1) 100%);
background: -ms-linear-gradient(45deg, rgba(13,157,234,1) 0%, rgba(73,172,40,1) 100%);
background: linear-gradient(45deg, rgba(13,157,234,1) 0%, rgba(73,172,40,1) 100%); margin-top:1.9rem; border:2px solid #fff; border-radius: 5px;}
	.main-menu-indicator{ margin-top:0px;}
	.list-watsap{ float:left; padding-left:15px; margin-top: 10px; color:#fff; font-weight:700; font-size: 20px;}
	.footer-bg{ text-align:center;}
	.copyright-area{ text-align:center;}
	.footer-logo{ margin-bottom:2rem;}
	.clients-area.left-head{ padding:15px !important;}
	
	.welcome-area .residential{ text-align:center; margin-bottom: 1rem; }
	.welcome-area .commercial{ text-align:center; margin-bottom: 1rem; }
	.welcome-area{ margin-top:0px;}
	.custome-fluid{ padding:0 20px;}
	.spec-image{ text-align:center;}
	.solution-area{ padding-bottom:0px;}
	.why-us-area, .solution-area, .client-testimonial-area{ margin-top:0rem;}
	.spec-image{ text-align:center;}
	.inner-bg1 .carousel-caption{ bottom:0px;}
	.page-title h2{ font-size:22px;}
	.page-title p{ display:block; font-size: 14px; line-height: 16px;}
	.breadcrumb-area{ margin-top:0px;}
	.inner-bg1 .carousel-caption{ bottom:0px;}
	.contact-form-area{ padding:40px;}
	.address-2{ margin-top:1rem;}
	.address-1{ margin-top: 1rem;} 
	.link-solutions .residential, .link-solutions .commercial{ margin-top:0rem; margin-bottom:2rem; min-height: 700px;}
	.solution-section .services, .solution-section .list-setails h5{ text-align:center;}
	.solution-section .carousel-item, .agriculture-section .carousel-item{ text-align:center;}
	.left-head, .right-area{ text-align:center; padding-bottom:2rem;}
	.solution-inner-text2 p{ text-align:center;}
	.list-styled li{ list-style-position:inside;}
	.operation-text p{ text-align:center;}
	.operation-area .operation-bg{ text-align:center;}
	.career-listing .services{ padding:20px 30px;}
	.about-image{ text-align:center;}
	.inner-text{ padding:0px; bottom:-20px;}
	.watsapp-number a{ font-size:17px;}
	.footer-comp-details{ padding-top:60px; padding-bottom: 20px;}
	.center-head h2{ font-size:43px; margin-top: 0px; }
	.services-area{ padding-top:1rem;}
	.left-head h2{ font-size:45px;}
	.center-head{ margin-bottom: 0;}

	.solution-area{ margin-top: 30px;}
	.welcome-area{ margin-top: 30px;}
	.solution-landing{ margin-top: 0;}
	.why-us-area{ margin-top: 30px;}
	.solution-area{ padding-bottom: 0;}
	.client-testimonial-area{ margin-top:3rem;}
	.about-section{ margin-top:3rem;}
	.vision-area{ margin-top:3rem;}
	.mission-area{ margin-top:3rem;}
	.center-head p{ padding-bottom: 0;}
	.solution-section{ margin-top:3rem;}
	.project-section{ margin-top:3rem;}
	.service-level-area{ margin-top:3rem;}
	.operation-area{ margin-top:3rem;}
	.career-number h3{ text-align: left}
	.agriculture-section{ margin-top:3rem;}
	
	.tooltip-inner{ width: 90%; margin: 0 auto;}
	.welcome-bg{ text-align: center;}
	.solution-area{ padding-bottom: 4rem;}
	.solution-details{ min-height: 350px;}

	

}

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {
	.header-bg{ background:none; position: relative; padding-bottom:1.5rem;}
	.controller{ display:block}
	.menu-wrap{ width:100%;}
	#fixedmenu{ display:none   !important;}
	.navbar-area{ margin-top: 0 !important}
	.menu-area{ background:none;}
	.services-area{ margin-top:2rem;}
	.welcome-bg{ text-align:center;}
	.carousel-caption{ left:0; right:0;}
	.carausel-link{ margin-left:0; padding:0 120px; top:8rem;}
	.spec-image{ text-align:center;}
	.footer-logo{ text-align:center; margin-bottom: 2rem;}
	.inner-bg1 .carousel-caption{ bottom:0px;}
	.why-us-image{ text-align:center;}
	.inner-bg1 .carousel-caption{ bottom:0px;}
	.contact-form-area{ padding:40px;}
	.link-solutions .residential, .link-solutions .commercial{ margin-top:0rem; margin-bottom:2rem; min-height: 700px;}
	.solution-section .carousel-item, .agriculture-section .carousel-item{ text-align:center;}
	.left-head, .right-area{ text-align:center; padding-bottom:2rem;}
	.solution-inner-text2 p{ text-align:center;}
	.list-styled li{ list-style-position:inside;}
	.operation-text p{ text-align:center;}
	.operation-area .operation-bg{ text-align:center;}
	.career-listing .services{ padding:20px 30px;}
	.about-image{ text-align:center;}
	.inner-text{ padding:0px;}
	.left-head h2{ font-size:45px; padding-top: 30px;}
	.center-head{ margin-bottom: 0;}
	.welcome-text h2{ margin-top: 10px;}
	.solution-area{ margin-top: 30px;}
	.welcome-area{ margin-top: 30px;}
	.solution-landing{ margin-top: 0;}
	.why-us-area{ margin-top: 30px;}
	.solution-area{ padding-bottom: 0;}
	.client-testimonial-area{ margin-top:3rem;}
	.about-section{ margin-top:3rem;}
	.vision-area{ margin-top:3rem;}
	.mission-area{ margin-top:3rem;}
	.center-head p{ padding-bottom: 0;}
	.solution-section{ margin-top:3rem;}
	.project-section{ margin-top:3rem;}
	.service-level-area{ margin-top:3rem;}
	.operation-area{ margin-top:3rem;}
	.career-number h3{ text-align: left}
	.agriculture-section{ margin-top:3rem;}
	.tooltip-inner{ width: 100%}
	.tooltip-inner{ width: 90%; margin: 0 auto;}
	.welcome-bg{ text-align: center;}
	.solution-area{ padding-bottom: 7rem;}
	.no-more{ padding: 0;}
	.solution-details{ min-height: 350px;}
	
	
} 

/* Landscape tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1280px) {
	.header-bg{ background:none; position: relative; padding-bottom:1.5rem;}
		.controller{ display:block}
	.menu-wrap{ width:50%;}
	#fixedmenu{ display:none  !important;}
	
	.carausel-area .carousel-caption{ bottom:0px;}
	.carausel-text h4{ font-size:35px; letter-spacing:normal; margin-bottom: 0px;}
	.carausel-text h4 span{ font-size:30px;}
	.carausel-text p{ margin-top:0px; font-size: 16px; margin-bottom: 0px;}
	.carausel-link{ margin-left:0px;}
	.residential h5, .commercial h5{ font-size:14px;}
	.residential h6, .commercial h6{ font-size:13px;}
	.inner-bg1 .carousel-caption{ bottom:0px;}
	.why-us-image{ text-align:center;}
	.about-image{ text-align:center;}
	.link-solutions .residential, .link-solutions .commercial{ min-height: 600px;}
	.inner-text{ padding:0px;}
	.about-section{ margin-top:3rem;}
	.vision-area{ margin-top:3rem;}
	.mission-area{ margin-top:3rem;}
	.center-head p{ padding-bottom: 0;}
	.center-head{ margin-bottom: 0;}
	.solution-section{ margin-top:3rem;}
	.project-section{ margin-top:3rem;}
	.service-level-area{ margin-top:3rem;}
	.operation-area{ margin-top:3rem;}
	.career-number h3{ text-align: left}
	.agriculture-section{ margin-top:3rem;}
	.tooltip-inner{ width: 100%}
	.welcome-bg{ text-align: center;}
	.no-more{ padding: 0;}
	.solution-details{ min-height: 350px;}
}


/*Huge*/
@media screen and (max-width: 1280px){	
	.menu-wrap{ width:24%;}
	#fixedmenu{ display:none  !important;}
	
	
}

/** C U S T O M **/
@media (min-width: 768px) and (max-width: 991px) {
	.inner-bg1 .carousel-caption{ bottom:0px;}
	.header-bg{ }
}

@media (min-width: 1441px) and (max-width: 1596px){
	.navbar-fixed{ top: 140px;}
}




@media (min-width: 500px) and (max-width: 767px){
	.watsapp-number{ display:none !important;}
	.watsapp-number a{ font-size:17px;}
	.footer-comp-details{ padding-top:40px; padding-bottom: 40px;}
	.services-area{ padding-top:1rem;}
}

@media (min-width: 1024px) and (max-width: 1366px){
	#fixedmenu{ display:none  !important;}
	.breadcrumb-area{ margin-top:0.5rem;}
	about-section{ margin-top:3rem;}
	.vision-area{ margin-top:3rem;}
	.mission-area{ margin-top:3rem;}
	.center-head p{ padding-bottom: 0;}
	.center-head{ margin-bottom: 0;}
}

@media (max-width: 1366px) and (min-width: 1280px){
#fixedmenu{ display:inherit !important; margin-top: -72px}

	.header-bg{ background: url(../images/menu-bg.png) repeat-x center bottom;
    position: absolute;
    z-index: 111;
    width: 100%;
    padding-bottom: 5rem; }
	
	
	
	.navbar-fixed2 {
    top: 0px;
		min-height: 105px;
    z-index: 999;
    position: fixed;
    width: 100%;
    -webkit-transition: all 0.4s ease-in;
    transition: all 0.4s ease-in;
    outline: none;
    background: rgba(255,255,255,1);
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    opacity: .9;
	}}


@media (max-width: 1440px) and (min-width: 900px){
	#fixedmenu{ margin-top: -53px}
	.navbar-fixed2{min-height: 105px;}
}


	