body{ font-family: 'Assistant', sans-serif; font-weight:300; font-size: 19px; color: #464545 }
p{ font-size: 17px; line-height: 25px;}
a{ font-family: 'Assistant', sans-serif;}
img{ max-width:100%; margin-left: auto; margin-right: auto;}
a:hover, a:active, a:focus { outline: 0;}
.no-padding{ padding:0px;}
.btn:hover, .btn.active, .btn:focus{outline: 0;}
.custome-fluid{ padding:0 100px;}
:hover{   -webkit-transition: all 0.4s ease-in; transition: all 0.4s ease-in; outline: none;}
a:hover{  -webkit-transition: all 0.4s ease-in; transition: all 0.4s ease-in; outline: none; text-decoration: none;}
.col-centered{float: none;margin: 0 auto;}
.right{ float:right;}
.left{ float:left;}



/*--------------------------------------------  H O M E  P A G E  --------------------------------------------*/

/****************Header Style******************/
.header-bg{background:url(../images/menu-bg.png) repeat-x center bottom; position: absolute; z-index: 111; width:100%; padding-bottom:5rem;}
.logo{ margin-top:1rem;}
.social-media-area li{ display:inline-block !important;}
/****************Header Style******************/

/*************** Carausel Area ****************/
.carausel-text{ text-align: left;} 
.carausel-text h4{ color:#fff; text-transform: uppercase; font-size: 75px; letter-spacing:15px; line-height: 54px; text-align: left; font-family: 'Assistant', sans-serif; font-weight:900; text-shadow: 0px 2px 0px rgba(69, 69, 70, 1);}
.carausel-text h4 span{ font-size: 50px; font-family: 'Assistant', sans-serif; font-weight:400; display:block;}
.carausel-text p{ font-family: 'Assistant', sans-serif; font-weight:300; line-height: 23px; letter-spacing: 1px; font-size: 17px; text-shadow: 0px 2px 0px rgba(69, 69, 70, 0.15); margin-top: 20px;}
.carausel-text a{ font-size: 18px; font-family: 'Assistant', sans-serif; font-weight:600; color:#fff; margin-top:20px;}
.carausel-text a:hover{ color:#173889;}
.residential{ background:url(../images/Residence.jpg) no-repeat center center; background-size:cover; box-shadow: 0px 2px 16px 0px rgba(69, 69, 70, 0.47); border-radius: 3px; padding:16px 20px;}
.residential img{ margin-top:0.6rem;}
.carausel-link{ margin-top:2rem;}
.residential h5{ font-size: 33px; font-family: 'Assistant', sans-serif; font-weight:700; color:#fff; margin-bottom: 0px; margin-top:0.6rem;}
.residential h6{ font-size: 16px; color:#fff; font-family: 'Assistant', sans-serif; font-weight:300; }
.commercial{ background:url(../images/commersial.jpg) no-repeat center center; background-size:cover; box-shadow: 0px 2px 16px 0px rgba(69, 69, 70, 0.47); border-radius: 3px; padding:16px 20px;}
.commercial img{ margin-top:0.6rem;}
.commercial h5{ font-size: 33px; font-family: 'Assistant', sans-serif; font-weight:700; color:#fff; margin-bottom: 0px; margin-top:0.6rem;}
.commercial h6{ font-size: 16px; color:#fff; font-family: 'Assistant', sans-serif; font-weight:300; }
.residential p{ text-align:center; font-size: 17px; color:#FFF; font-family: 'Assistant', sans-serif; font-weight:300; margin-top:25px; line-height: 23px}
.commercial p{ text-align:center; font-size: 17px; color:#FFF; font-family: 'Assistant', sans-serif; font-weight:300; margin-top:25px; line-height: 23px}
.carausel-area .carousel-caption{ bottom:120px;}
.navbar-area{ padding:4px;
background: rgb(13,158,234); /* Old browsers */
background: -moz-linear-gradient(left, rgba(13,158,234,0.8) 0%, rgba(13,158,234,0.8) 32%, rgba(13,158,234,0.8) 32%, rgba(73,172,40,0.8) 100%); /* FF3.6-15 */background: -webkit-linear-gradient(left, rgba(13,158,234,0.8) 0%,rgba(13,158,234,0.8) 32%,rgba(13,158,234,0.8) 32%,rgba(73,172,40,0.8) 100%); /* Chrome10-25,Safari5.1-6 */background: linear-gradient(to right, rgba(13,158,234,0.8) 0%,rgba(13,158,234,0.8) 32%,rgba(13,158,234,0.8) 32%,rgba(73,172,40,0.8) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */ }
.navbar-area{ margin-top:-3.3rem; z-index:1; position: relative;}
.navbar-area .bg-light{ background-color:transparent !important;}
.navbar-area .navbar-light .navbar-nav .nav-link{ font-size: 18px; color:#fff; font-family: 'Assistant', sans-serif; font-weight:600; padding:9px 22px; 
text-transform: uppercase;}
.navbar-area .navbar-light .navbar-nav .active, .navbar-area .navbar-light .navbar-nav a:hover{ color:#003fa9;}
.navbar-area .navbar{ padding:0px;}
/*************** Carausel Area ****************/

/************** Welcome Area *****************/
.welcome-area{ margin-top:6.5rem;}
.welcome-text{ text-align:center;}
.welcome-text h2{ font-size: 50px; color:#1446a5; text-transform: uppercase; letter-spacing: 2px; font-family: 'Assistant', sans-serif; font-weight:900;
margin-bottom: 0px;}
.welcome-text h4{ font-size: 24px; text-transform: uppercase; font-family: 'Assistant', sans-serif; font-weight:600; color:#49ac28; line-height: 22px; }
.welcome-text p{ font-size: 17px; font-family: 'Assistant', sans-serif; font-weight:300; text-align:center; margin-top:2rem; margin-bottom: 2rem;
line-height: 23px; color:#292929; }
.welcome-text a{ color:#292929; font-size:18px; font-family: 'Assistant', sans-serif; font-weight:600; }
.welcome-text a:hover{ color:#173889;}
.services{box-shadow: 0px 1px 6px 0px rgba(0, 0, 0, 0.18); text-align: center; padding:7px 10px; border-radius: 3px; margin-bottom:23px; background:#fff; }
.services h5{ font-size:17px; font-family: 'Assistant', sans-serif; font-weight:300; color:#292929; line-height:16px; margin-top:0.2rem;}
.services h5 span{ text-transform: uppercase; font-family: 'Assistant', sans-serif; font-weight:700; display: block; }
.service-items{ padding:0 12px !important;}
.services2{box-shadow: 0px 1px 6px 0px rgba(0, 0, 0, 0.18); text-align: center; padding:7px 10px; border-radius: 3px; margin-bottom:23px; background:#fff; min-height: 200px;}
.services2 h5{ font-size:17px; font-family: 'Assistant', sans-serif; font-weight:300; color:#292929; line-height:16px; margin-top:0.2rem;}
.services2 h5 span{ text-transform: uppercase; font-family: 'Assistant', sans-serif; font-weight:700; display: block; }
/************** Welcome Area *****************/

/************ Solution Area *****************/
.solution-area{ margin-top:6.5rem; background:url(../images/solutions-bg.jpg) no-repeat center bottom; background-size:contain; padding-bottom:17rem;}
.center-head{ text-align:center; line-height:23px; margin-bottom: 25px;}
.center-head h2{ font-size:50px; color:#1446a5; text-transform:uppercase; letter-spacing: 2px; font-family: 'Assistant', sans-serif; font-weight:900;
line-height: 45px;}
.center-head h2 span{ color:#49ac28; display:block;}
.center-head p{ text-align:center; font-size: 18px; color:#292929; font-family: 'Assistant', sans-serif; font-weight:300; margin-top:25px; line-height: 26px}
.center-head b{ font-weight: 600;}
.solution-area .owl-dots{ display:block !important;}
.solution-details{  background: rgba(13,157,234,1);
background: -moz-linear-gradient(45deg, rgba(13,157,234,1) 0%, rgba(73,172,40,1) 100%);
background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(13,157,234,1)), color-stop(100%, rgba(73,172,40,1)));
background: -webkit-linear-gradient(45deg, rgba(13,157,234,1) 0%, rgba(73,172,40,1) 100%);
background: -o-linear-gradient(45deg, rgba(13,157,234,1) 0%, rgba(73,172,40,1) 100%);
background: -ms-linear-gradient(45deg, rgba(13,157,234,1) 0%, rgba(73,172,40,1) 100%);
background: linear-gradient(45deg, rgba(13,157,234,1) 0%, rgba(73,172,40,1) 100%); padding:20px 37px; text-align: center; margin-bottom: -6rem; z-index: 11; position:relative; border-top-left-radius: 4px; border-top-right-radius:4px; transition: all .2s ease-in-out; min-height: 290px; }
.profile:hover{ cursor: pointer;}
.profile:hover .solution-details img{ }
.profile:hover .solution-details { cursor: pointer; transform:translateY(10%);}
.solution-details::before{ background:url(../images/ovrlay-logo.png) top right;  content:""; width:103px; height:102px; position: absolute; right: 0;
top: 0; }
.solution-details h4{ font-size: 31px; font-family: 'Assistant', sans-serif; font-weight:300; color:#fff; line-height: 35px; margin-top:20px;
margin-bottom: 10px;  }
.solution-details h4 span{ display:block; font-family: 'Assistant', sans-serif; font-weight:600;}
.solution-details p{ color:#ffffff; font-size:17px;}
.solution-area .owl-theme .owl-dots .owl-dot.active span, .solution-area .owl-theme .owl-dots .owl-dot:hover span{ background:#73ae4d;}
.solution-area .owl-theme .owl-dots .owl-dot span{ height: 12px; width: 12px; border:1px solid #d0d0d0; background:#fff; margin: 5px 3px;	}
/************ Solution Area *****************/

/*********** Why Us Area ***************/
.why-us-area{ margin-top:6rem;}
.left-head{ text-align: left;}
.left-head h2{ font-size:50px; color:#1446a5; text-transform:uppercase; letter-spacing: 2px; font-family: 'Assistant', sans-serif; font-weight:900;
line-height: 45px;}
.left-head h2 span{ color:#49ac28; display:block;}
.left-head h3{ font-size:25px; color:#303030; font-family: 'Assistant', sans-serif; font-weight:700; line-height: 45px; padding: 0px 0 0 0;}
.left-head p{ font-size: 17px; font-family: 'Assistant', sans-serif; font-weight:400; text-align:left; margin-top:25px; margin-bottom: 2rem;
line-height: 23px; color:#292929;}
.left-head a{ color:#173889; font-size:18px; font-family: 'Assistant', sans-serif; font-weight:600; }
.left-head a:hover{ color:#000; }
.specs{ text-align:center; padding:4px 0px; border-radius:3px; }
.specs h5{ font-size:19px; color:#292929; font-family: 'Assistant', sans-serif; font-weight:400;}
.spec-items{ margin-bottom:1.5rem;}
.spec-items:hover{ box-shadow: 0px 1px 6px 0px rgba(0, 0, 0, 0.18);}
.spec-image{ margin-top:1rem; text-align:center; }
.spec-image .eco-image{ margin-bottom: 1rem;}
.why-us-area .left-head{ margin-top:1.5rem;}
/*********** Why Us Area ***************/

/********** Client Testimonial Area *************/
.client-testimonial-area{ margin-top:3rem;}
.owl-2{ background:url(../images/testimonial-bg.jpg) no-repeat center center; background-size: cover; border-radius: 5px; padding:50px 30px 27px 30px; margin-top: 2rem;}
.profile-name{ margin-top:12px;}

.profile-name h5{ font-size: 19px; font-family: 'Assistant', sans-serif; font-weight:600; color:#fff; margin-bottom: 0px;}
.profile-name h6{ font-size: 17px; font-family: 'Assistant', sans-serif; font-weight:400; font-style: italic; color:#fff;}
.profile-disc p{ font-size: 17px; font-family: 'Assistant', sans-serif; font-weight:300; font-style: italic; color:#fff; margin-top: 10px; margin-bottom: 0px; text-align: center; }
.client-testimonial-area .owl-theme .owl-dots{ margin-top:1rem;}
.client-testimonial-area .owl-theme .owl-dots .owl-dot.active span, .client-testimonial-area .owl-theme .owl-dots .owl-dot:hover span{ background:#73ae4d; border:1px solid #73ae4d;}
.client-testimonial-area .owl-theme .owl-dots .owl-dot span{ height: 12px; width: 12px; border:1px solid #d0d0d0; background:#fff; margin: 5px 3px; 	}
/********** Client Testimonial Area *************/

/********** Clients Area **********/
.clients-area{ margin-top:6rem; padding-bottom:9rem;}
.owl-3{ box-shadow: 0px 1px 6px 0px rgba(0, 0, 0, 0.18); border:1px solid #f2f2f2; border-radius: 5px; margin-top:2rem; padding:40px 20px}
.clients-area .owl-theme .owl-dots{ margin-top:1rem; position: absolute; width: 100%; padding-top: 57px; }
.clients-area .owl-theme .owl-dots .owl-dot.active span, .clients-area .owl-theme .owl-dots .owl-dot:hover span{ background:#73ae4d; border:1px solid #73ae4d;}
.clients-area .owl-theme .owl-dots .owl-dot span{ height: 12px; width: 12px; border:1px solid #d0d0d0; background:#fff; margin: 5px 3px; 	}
/********** Clients Area **********/

/********* Footer **********/
.footer-bg{ /*margin-top:8rem;*/ background:url(../images/footer-bg.jpg) center top; background-size: cover; border-top:3px solid #4cab29; padding:0 0 40px; }
.contact-number h4 span{ font-size: 22px; color:#fff; }
.footer-logo{ margin-top:2.5rem;}
.contact-number h4{ font-size: 17px; font-family: 'Assistant', sans-serif; font-weight:600; color:#fff; margin-bottom: 0px;}
.contact-number h3{ font-size: 24px; color:#fff; font-family: 'Assistant', sans-serif; font-weight:700; letter-spacing: 1px;}
.contact-number{ margin-bottom:2rem;}
.office-address h4 span{ font-size: 22px; color:#fff; }
.office-address h4{ font-size: 17px; font-family: 'Assistant', sans-serif; font-weight:700; color:#fff; margin-bottom: 0px; letter-spacing: 1px;}
.copyright-area{ text-align:left;}
.office-address p{ font-size: 17px; color:#fff; font-family: 'Assistant', sans-serif; font-weight:300; margin-top:5px;  }
.social-media li{ margin-right:10px !important;}
.social-media li a{ color:#fff; font-size: 30px; }
.social-media li a:hover{ color:#ffe800;}
.copyright-text{ margin-top:1.3rem;} 
.copyright-text p{ color:#ffffff; font-size: 15px; font-family: 'Assistant', sans-serif; font-weight:300;}
/********* Footer **********/


/*--------------------------------------------  A B O U T  U S  --------------------------------------------*/


/********* About Section **********/
.inner-text{ text-align:center; background: rgba(42,56,84,0.4); border-radius: 5px; padding:20px;}
.page-title h2{ font-size: 50px; font-family: 'Assistant', sans-serif; font-weight:700; color:#fff; margin-bottom: 0px; margin-top:0.6rem;}
.page-title p{ font-size:18px; font-family: 'Assistant', sans-serif; font-weight:300; color:#fff; margin-bottom: 0px; margin-top: 0px; }
.breadcrumb-area{ text-align:center; margin-top:1.5rem;}
.inner-bg1 .carousel-caption{bottom:80px;}
.about-section{ margin-top:6rem;}
.breadcrumb-area li a{ color:#49ac28; font-size: 17px;}
.breadcrumb-area li{ font-size:16px;}
.about-text .btn-success{ background: rgba(13,157,234,1);
background: -moz-linear-gradient(45deg, rgba(13,157,234,1) 0%, rgba(73,172,40,1) 100%);
background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(13,157,234,1)), color-stop(100%, rgba(73,172,40,1)));
background: -webkit-linear-gradient(45deg, rgba(13,157,234,1) 0%, rgba(73,172,40,1) 100%);
background: -o-linear-gradient(45deg, rgba(13,157,234,1) 0%, rgba(73,172,40,1) 100%);
background: -ms-linear-gradient(45deg, rgba(13,157,234,1) 0%, rgba(73,172,40,1) 100%);
background: linear-gradient(45deg, rgba(13,157,234,1) 0%, rgba(73,172,40,1) 100%);  border:none; border-radius:5px; font-size:16px; text-transform:capitalize; padding:13px 59px; color:#fff;}
.about-text .btn-success:hover{ background:#49ac28; cursor:pointer; color:#fff;}
/********* About Section **********/

/********* Vision Section **********/
.vision-area{ margin-top:6rem;}
.vision-area img{ margin-top:1rem;}
/********* Vision Section **********/

/********* Mission Section **********/
.mission-area{ margin-top:3rem; margin-bottom: 6rem;}
.mission-area img{ margin-top:1rem;}
/********* Mission Section **********/

/********* why-us-area Section **********/
.why-us-area{ margin-top:7rem;}
.why-us-image{ margin-top:3rem; text-align: right;} 
.why-us-area .category{ margin-top:2rem;}
/********* why-us-area Section **********/


/*--------------------------------------------  C A R E E R S  --------------------------------------------*/

/********* job-area *********/
.career-listing{ margin-top:2rem;}
.career-number h3{ color:#292929; font-family: 'Assistant', sans-serif; font-weight:900; font-size: 40px; }
.career-details{ text-align:left; padding-right: 20px;}
.career-listing .services{ padding:20px; margin-bottom: 30px;}
.career-details h2{ font-size:22px; font-family: 'Assistant', sans-serif; font-weight:700; color:#292929; margin-bottom:8px;  }
.career-details .list-inline{ border-bottom:1px solid #d7d7d7; padding-bottom: 0.5rem;}
.career-details li{ font-size:17px; color:#000; line-height: 40px; }
.career-details li span{ font-weight: 700; }
.career-details p{ font-size:16px; font-family: 'Assistant', sans-serif; font-weight:300; color:#464545; font-style: italic; margin-bottom:0.5rem;}
.career-details a{ color:#49ac28; font-size:18px; font-family: 'Assistant', sans-serif; font-weight:600;  }
.career-details a:hover{ color:#173889;}
.careers-inner h2{ font-size: 35px; }
.careers-inner h3{ font-size:20px; font-weight:600;}
.jobprofile {}
.jobprofile li {font-size:17px; color:#464545; line-height: 38px; display: block; font-weight: 500; }
.jobprofile li i{padding: 0 10px 0 0px}

/********* job-area *********/

/********* Mail-area *********/
.mail-area{ background:#f7f7f7 url(../images/bg3.jpg) no-repeat center top; background-size: cover; margin-top:4rem; padding: 5rem 30px;}
.mail-to-us{ text-align:center;}
.mail-to-us h2{font-size:50px; color:#fff; text-transform:uppercase; letter-spacing: 2px; font-family: 'Assistant', sans-serif; font-weight:900;
line-height: 45px;}
.mail-to-us p{ font-size:20px; font-family: 'Assistant', sans-serif; font-weight:300; color:#fff; margin-bottom:0.5rem;}
.mail-to-us a{ color:#4cab29; font-size:23px; font-family: 'Assistant', sans-serif; font-weight:700;  }
.mail-to-us a:hover{ color:#fff;}
/********* Mail-area *********/


/*--------------------------------------------  C O N T A C T  --------------------------------------------*/

/********* contact-area *********/
.contact-area{ margin-top:0rem; margin-bottom: 0rem;}
.contact-form-area{ padding:40px 110px;}
.contact-form .form-control{ background:#ffff; border:none; height:55px; border-radius:5px; box-shadow: 0px 1px 6px 0px rgba(0, 0, 0, 0.18); padding:10px 27px; margin-bottom: 2rem}
.contact-form .form-control::placeholder{ color:#575757; font-size: 14px; font-family: 'Assistant', sans-serif; font-weight:400;}
.contact-form .text-area{ height:198px;}
.indication-text{ color:#818181; font-size:14px; margin-top:15px; font-family: 'Assistant', sans-serif; font-weight:300;}
.submit-area{ text-align:right;}
.submit-area .btn-primary{ background:#1446a5;  border:none; border-radius:5px; font-size:16px; text-transform:capitalize; padding:13px 59px;}
.submit-area .btn-primary:hover{ background:#49ac28; cursor:pointer;}
.mail-to-us h2{font-size:50px; color:#fff; text-transform:uppercase; letter-spacing: 2px; font-family: 'Assistant', sans-serif; font-weight:900;
line-height: 45px;}
.contact-form-area .center-head hr{ margin-bottom:2rem; }
.address-map-area{ background:#f5f5f5;}
.map-area{background:#f0f3fe; min-height:45vh; margin-top:0;  }
.contact-person { text-align:center; border-bottom: 1px dotted #c2c2c2; padding: 30px 0 0 0; }
.contact-person h4{ font-size:20px; font-family: 'Assistant', sans-serif; font-weight:700; color:#292929; line-height:16px;}
.contact-person h3{  font-size:26px; font-family: 'Assistant', sans-serif; padding-bottom: 30px; font-weight:900; color:#292929; line-height:16px; margin-top:1.5rem; margin-bottom: 0px; }
.address-person{ text-align:center; margin-top:3rem; margin-bottom: 3rem; padding: 0 60px;}
.address-person h4{ font-size:20px; font-family: 'Assistant', sans-serif; font-weight:700; color:#292929; line-height:16px; margin-bottom: 2rem;}
.address-1 p{  font-size:17px; font-family: 'Assistant', sans-serif; font-weight:400; color: #fff; margin-top:0; margin-bottom: 0; line-height: 28px;}
.address-2 p{  font-size:17px; font-family: 'Assistant', sans-serif; font-weight:400; color: #fff; margin-top:0; margin-bottom: 0; line-height: 23px;}
.address-2 a{ color: #fff;}
.address-2 a:hover{ color: #000;}
.address-1 a{ color: #fff;}
.address-1 a:hover{ color: #000;}
.address-1{ background:#1446a5; padding: 20px; border-radius: 5px; text-align: center; margin-bottom: 30px; color: #fff;}
.address-2{ background:#49ac28; padding: 20px; border-radius: 5px; text-align: center; margin-bottom: 30px;  color: #fff;}
.contact-form select{ height:55px !important; font-family: 'Assistant', sans-serif; font-weight:400; padding:15px 18px !important;}
.contact-form .select-arrow{ color:#575757; font-size:14px !important; font-family: 'Assistant', sans-serif !important; font-weight:400;}
/********* contact-area *********/

/*--------------------------------------------  S U P P O R T  --------------------------------------------*/

/********* project-section *********/
.project-section{ margin-top:6rem;}
.project-gallery{ margin-top:2rem;}
/********* project-section *********/

/********* operation-area *********/
.operation-area{ margin-top:6rem; margin-bottom: 6rem;}
.operation-text{/* background:#f5f5f5;*/ padding-top:0rem;}
.operation-text p{ margin-bottom:1rem;}
/********* operation-area *********/

/********* service-level-area *********/
.service-level-area{ margin-top: 6rem;} 
.service-level-text{ margin-top:0rem;}
.service-level-text p{ text-align:center;}
.service-level-img{ margin-top:2rem; text-align:center;}
.smart-listing{ margin-top:2.5rem;}
.list-styled{ margin-top:1.5rem; margin-bottom: 2.5rem;}
.list-styled ul ol{ padding:0px !important;}
.list-styled li{ font-size:18px; font-weight: 600; color:#303030; list-style-image: url(../images/list-icon.png); list-style-position: outside; margin-left: -1rem; 
margin-bottom:5px;}
/********* service-level-area *********/



/*--------------------------------------------  S O L U T I O N S  --------------------------------------------*/

/********* solution-section *********/
.solution-section{ margin-top: 6rem; margin-bottom: 6rem;}
.link-solutions{ text-align:center;}
.solution-landing{ margin-top:2rem;}
.link-solutions .residential h5, .link-solutions .commercial h5{ font-size:40px;}
.link-solutions .residential h6, .link-solutions .commercial h6{ font-size:20px;}
.link-solutions .residential, .link-solutions .commercial{ padding:56px 20px; min-height:500px;}
.inner-solution-head{ margin-bottom:2rem;}
.solution-inner-text{ padding-top:0px;}
.list-setails h5{ text-align:left; margin-top:1rem; font-size: 16px;}
.head-list{ margin-top:2rem;}
.operation-text .btn-success{ background: rgba(13,157,234,1);
background: -moz-linear-gradient(45deg, rgba(13,157,234,1) 0%, rgba(73,172,40,1) 100%);
background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(13,157,234,1)), color-stop(100%, rgba(73,172,40,1)));
background: -webkit-linear-gradient(45deg, rgba(13,157,234,1) 0%, rgba(73,172,40,1) 100%);
background: -o-linear-gradient(45deg, rgba(13,157,234,1) 0%, rgba(73,172,40,1) 100%);
background: -ms-linear-gradient(45deg, rgba(13,157,234,1) 0%, rgba(73,172,40,1) 100%);
background: linear-gradient(45deg, rgba(13,157,234,1) 0%, rgba(73,172,40,1) 100%);  border:none; border-radius:5px; font-size:19px; text-transform:capitalize; padding:13px 29px; color:#fff; margin-top:0rem;}
.operation-text .btn-success:hover{ background:#49ac28; cursor:pointer; color:#fff;}
.right-area{ text-align:right;}
.right-area .list-styled{ direction:rtl;}
.right-area .list-styled li{ margin-right:-1.5rem !important;}
/********* solution-section *********/

/********* agriculture-section *********/
.agriculture-section{margin-top:6rem;} 
.solution-inner-text2{ padding-top:0px;}
.solution-inner-text2 p{  text-align: right;}
/********* agriculture-section *********/

 /*-----Lity SECTION----*/
.lity-styles {max-width: 700px; height: 700px; overflow-y: scroll; overflow-x: hidden;}
.contact-form-head{ text-align:center;}

.indication-text{ color:#818181; font-size:14px; margin-top:10px; font-family: 'Montserrat', sans-serif; font-weight:300;}
.submit-area{ text-align:right;}
.submit-area .btn-primary:hover{ background:#117ed3; cursor:pointer;}
.lity-styles .contact-form-area{ padding:20px 51px !important;}
.lity-styles .submit-area .btn-primary{background: rgba(13,157,234,1);
background: -moz-linear-gradient(45deg, rgba(13,157,234,1) 0%, rgba(73,172,40,1) 100%);
background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(13,157,234,1)), color-stop(100%, rgba(73,172,40,1)));
background: -webkit-linear-gradient(45deg, rgba(13,157,234,1) 0%, rgba(73,172,40,1) 100%);
background: -o-linear-gradient(45deg, rgba(13,157,234,1) 0%, rgba(73,172,40,1) 100%);
background: -ms-linear-gradient(45deg, rgba(13,157,234,1) 0%, rgba(73,172,40,1) 100%);
background: linear-gradient(45deg, rgba(13,157,234,1) 0%, rgba(73,172,40,1) 100%);  border:none; border-radius:5px; font-size:16px; text-transform:capitalize; padding:13px 59px; color:#fff; margin-top:1.5rem;}
.submit-area .btn-primary:hover{ background:#49ac28; cursor:pointer; color:#fff;}
/*-----Lity SECTION----*/

/*-----New style----*/
#more, #more1, #more2, #more3, #more4, #more5, #more6 {display: none;}
.footer-comp-details{ background: #4cab29; padding:12px; margin-bottom:3rem;}
.footer-text p{ text-align:center; font-size:16px; font-family: 'Assistant', sans-serif; font-weight:300; color:#cff9bf; margin-top:0; margin-bottom: 0; line-height: 23px;
font-style: italic;}
.carausel-text2 h4 span{ display:block; font-size: 30px; }
.carausel-text2 h4{letter-spacing: 0px; line-height:70px; }
.carausel-text3 h4 span{ display:block; font-size: 30px; }
.carausel-text3 h4{  line-height:45px; text-align:right; }
.carausel-text3 p{ padding-right:1rem;}
.carausel-text3 a{ padding-right:1rem;}
.carausel-link2 .commercial, .carausel-link2 .residential{ padding:30px; margin-top:-1rem;}
.carausel-text3{ text-align:right;}
.btn-more{ background: rgba(13,157,234,1);
background: -moz-linear-gradient(45deg, rgba(13,157,234,1) 0%, rgba(73,172,40,1) 100%);
background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(13,157,234,1)), color-stop(100%, rgba(73,172,40,1)));
background: -webkit-linear-gradient(45deg, rgba(13,157,234,1) 0%, rgba(73,172,40,1) 100%);
background: -o-linear-gradient(45deg, rgba(13,157,234,1) 0%, rgba(73,172,40,1) 100%);
background: -ms-linear-gradient(45deg, rgba(13,157,234,1) 0%, rgba(73,172,40,1) 100%);
background: linear-gradient(45deg, rgba(13,157,234,1) 0%, rgba(73,172,40,1) 100%); border:none; border-radius:5px; font-size:16px; text-transform:capitalize; padding:8px 29px; color:#fff;}
.about-text .btn-success:hover{ background:#49ac28; cursor:pointer; color:#fff;}
.btn-more:hover{ cursor:pointer; }
.goback-btn h4{font-size: 50px; font-family: 'Assistant', sans-serif; font-weight: 700; color: #292929; margin-top: 0.6rem; margin-bottom: 2rem;  }
.go-back-area{ margin-top:4rem; text-align: center; margin-bottom: 6rem; } 
.goback-btn .btn-success{ background:rgba(13,157,234,1); border:none; border-radius:5px; font-size:20px; padding:9px 30px; color:#fff; font-weight: 700;}
.goback-btn .btn-success:hover{ background:#49ac28; cursor:pointer; color:#fff;}
/*.slider-overlay{ background:#1c253e;}
.slider-overlay .slider-img{ opacity:0.7;}*/
.list-styled li{ list-style-position: inside;}
.watsapp-number{ text-align:right; margin-top:2.5rem;}
.watsapp-number a{font-size:20px; font-family: 'Assistant', sans-serif; font-weight:700; color:#292929; line-height:16px; margin-top:1rem;}
.watsapp-number a:hover{ color:#49ac28;}
.btn-more-2{ background:#56ce5b; padding:4px 14px; color:#fff !important;}
.btn-more-3{ background:#56ce5b; padding:10px 14px; color:#fff !important;}

.read-more-area{ text-align:center; margin-top:2rem; padding-bottom: 5rem !important;}
.readmore-lity{ height:auto !important; overflow: auto; padding:30px; padding-bottom: 0px; max-width:850px !important;}
.read-more-area h4{font-size:34px; font-family: 'Assistant', sans-serif; font-weight:600; color:#1446a5; line-height: 25px; margin-top:1rem;
margin-bottom:20px;}
.read-more-area h4 span{ display:block; font-family: 'Assistant', sans-serif; font-weight:900; color:#49ac28; margin-top:0.5rem;}
.advantage-area .service-items h5{ line-height:23px; margin-top:5px;}
.tooltip-inner {
    max-width: 650px;
    /* If max-width does not work, try using width instead */
    width: 650px;
	background: linear-gradient(to right, rgba(10,157,243,1) 0%, rgba(76,172,28,1) 100%);
	border: 1px solid #dededb;
	font-weight: 500;
	color: #fff;
	font-size: 15px;
	line-height: 24px;
	opacity: 1;
	padding: 15px;
	box-shadow: 0px 1px 6px 0px rgba(0, 0, 0, 0.18);
}
.solution-details .owl-slides .owl-item img{ border:1px solid #000 !important;}
.form-group input, select, textarea{ }
/*-----New style----*/

/*--------11-12-2019----------*/
.list-watsap a{ color:#fff;}
.office-address a{ color: #fff;}
.office-address a:hover{ color: black;}
.common-ar{ margin-top: 9rem;  }
.com-left{ background: url(../images/footer-residential.jpg); background-repeat: no-repeat; background-size: cover; padding: 30px 30px;}
.com-right{ background: url(../images/footer-commercial.jpg); background-repeat: no-repeat; background-size: cover; padding: 30px 30px; }
.no-more{ padding: 40px 0 0 0;}
.no-more span{ color: #fff; font-size: 20px; font-weight: 600;  }
.more{ color: #fff;}

